# macOS
.DS_Store

# Windows
Thumbs.db

# Arduino build files
*.hex
*.elf
*.bin

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Logs
*.log

# Temporary files
*.tmp

# Build folders
build/
dist/

# Environment files
.env
